html {
    font-family: sans-serif;
    background: linear-gradient(to top, black, #292929);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 10%;
    background-color: #121212;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 50%;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    padding: 0.5rem 1rem;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 300px;
    height: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

hr {
    margin-right: 70px;
    margin-left: 70px;
    border: none; 
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5); 
}

.easy-log-in, .log-in, .sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#continue {
    color: black;
    border: none;
    background-color: #1ed760;
    border-radius: 50px;
    width: 300px;
    height: 40px;
    text-align: center;
    padding: 0.5rem 1rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 1rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#continue:hover {
    background-color: #1db954;
    box-shadow: 0 0 5px #1ed760;
}

#Email-or-Username {
    background-color: transparent;
    padding: 0.5rem 1rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 300px;
    height: 30px;
    color: white;
}

@media (max-width: 768px) {
    .home-section {
        flex-direction: column;
        text-align: center;
    }

    .text {
        padding-right: 0;
    }

    .text h1 {
        font-size: 48px;
    }

    body {
        width: 90%;
        margin: 5%;
    }
}
